body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    padding-top: 19px;
    padding-right: 15px;
    padding-left: 15px;

    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
